/* FORMS */

.appframe-titlebar .label {
	vertical-align: middle;
	margin-right: 7px;
}

div.form-intro-area {
	padding: 9px 9px 0px 9px;
	margin: 0px 0px 15px 0px;
}

div.form-section-head {
	margin: 11px -15px 3px -15px;
	border-top: 1px solid #ccc;
	padding: 11px 0px 0px 23px;
}

div.form-layout-row:first-child .form-section-head {
	border-top: 0px solid #ccc !important;
	margin-top: 0px;
	padding-top: 0px;
}

div.form-section-head h3 {
	line-height: 20px;
}

div.form-section-head hr {
	margin: 9px 0px;
}

div.frm_print_wrapper {
	background-color:#FFF;
	border:1px solid #444;
	padding: 40px;

	box-shadow:1px 1px 8px #229;
	-moz-box-shadow: 1px 1px 8px #229;
	-webkit-box-shadow: 1px 1px 8px #229;
}

div.page_break {
	margin: 24px 0px;
	border-top: 1px dashed #888;
}

div.dialog_frm {
	position: relative;
	margin: 10px;
}

.top_cell {
	height: 50px;
}

.scrollhead_wrapper {
	position: absolute;
	z-index: 1;
	height: 30px;
}

.sectionCell {
	padding: 5px;
	vertical-align: top;
}

div.time_field select{
	display: inline;
	margin: 2px;
	width: 45px;
}

/* fields */

.field {
	margin-top: 7px;
}

.grid_cell_div .field {
	margin-top: 0px !important;
}

.field .lable_txt {
	font-size: 95%;
}

.mandatory .label_txt {
	color: red;
}

.input_area input, .input_area select, .disp_area {
	max-width: 300px;
}

.input_area input { 
	width: 80%; 
	margin: 0px; 
}
.input_area select { 
	width: 80%; 
}
.input_area textarea { 
	width: 90%; 
}

.mandatory input, .mandatory select, .mandatory textarea {
	background-color: #fee;
}

.field .icon-warning-sign {
	display: none;
}

.mandatory .icon-warning-sign {
	display: inline-block !important;
}

.disp_area { 
	width: 80%; 
	padding: 2px 0px; 
	font-size: 12px; 
	background-color: #eee;
	padding: 2px;
	border: 1px solid #ddd;
	min-height: 16px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

/* sidebar */

div.sidebar-comment-wrapper input {
	width: 50%;
}
div.sidebar-comment-message {
	margin-top: 8px;
	color: #777;
}

div.sidebar-comment-text {
	font-size: 12px;
	font-weight: bold;
	margin-top: 8px;
	color: #444;
}
div.sidebar-comment-info {
	color: #777;
}