div.sidebar div.head {
	font-size: 14px;
	font-weight: bold;
	color: #555;
	margin-bottom: 12px;
}

div.section {
	margin-bottom: 15px;
}

div.section div.section-head {
	padding: 5px 0px;
	font-size: 109%;
	font-weight: bold;
}

div.section .alert {
	margin-bottom: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

div.section hr {
	margin: 10px 0px;
}

div.section .alert .close {
	top: 0px;
}

div.section div.section-item {
	margin-bottom: 7px;
}