.small {
	font-size: 90%;
}

.navbar-icon-home {
	vertical-align: middle;
	opacity: 0.4;
	Filter:alpha(opacity=40); /* For IE8 and earlier */
}

.navbar-icon-home:hover,
.navbar-icon-home:focus,
.navbar-icon-home:active,
.navbar-icon-home-hover{
	opacity:1;
	Filter:alpha(opacity=100); /* For IE8 and earlier */
}

.navbar #spinner {
	display: block;
	float: right;
	width: 20px;
	margin-bottom: -5px;
	margin-top: 10px;
	visibility: hidden;
}

.avatar {
	display: inline-block; 
	vertical-align: middle;
	overflow: hidden;
	background-color: #ddd;
	border: 1px solid #eee;
}

.avatar img {
	max-width: none;
}

.layout-main-section h4 {
	margin-bottom: 3px;
}

/* messages */

.msgprint {
	margin: 7px 5px;
	font-size: 110%;
}

#alert-container {
	position: fixed; 
	bottom: 8px; 
	right: 8px;
	z-index: 10;
}

#alert-container .alert {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	
	overflow: hidden;
	max-width: 400px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.alert .close {
	top: 0px;
}